name: stability-env
channels:
  - conda-forge
  - defaults

dependencies:
  - python=3.11
  - numpy
  - pandas
  - matplotlib
  - scipy
  - jupyter
  - ipykernel
  - pip

  - pip:
      - torch
      - torchvision
      - plotly